Repository gemini-hlsw/lucuma-graphql-routes: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label grackle PRs, Label sangria PRs

Label core PRs:
  label:
    add:
    - core
    remove: []

Label grackle PRs:
  label:
    add:
    - grackle
    remove: []

Label sangria PRs:
  label:
    add:
    - sangria
    remove: []

update deps
  build.sbt
Due: none

update workflow
  .github/workflows/ci.yml
  .mergify.yml
Due: none

update grackle
  build.sbt
Due: none

library-updates-01
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  project/plugins.sbt
Due: none

Update Grackle to 0.10.0
  build.sbt
Due: none

Update 2.13
  build.sbt
Due: none

mergify
  .github/workflows/ci.yml
  .mergify.yml
Due: none

Downgrade natchez
  build.sbt
Due: none

turn down logging
  modules/core/src/main/scala/lucuma/graphql/routes/Routes.scala
Due: Label core PRs

Update http4s
  build.sbt
  modules/sangria/src/main/scala-2/lucuma/graphql/routes/SangriaGraphQLService.scala
Due: Label sangria PRs

Library updates
  build.sbt
Due: none

grackle
  build.sbt
Due: none

Update grackle to 0.10.2
  build.sbt
Due: none

upgrade clue
  build.sbt
  modules/core/src/main/scala/lucuma/graphql/routes/Connection.scala
  modules/core/src/main/scala/lucuma/graphql/routes/GraphQLService.scala
  modules/core/src/main/scala/lucuma/graphql/routes/Routes.scala
  modules/core/src/main/scala/lucuma/graphql/routes/Subscriptions.scala
  modules/core/src/main/scala/lucuma/graphql/routes/syntax/Json.scala
  modules/grackle/src/main/scala/lucuma/graphql/routes/GrackleGraphQLService.scala
  modules/grackle/src/main/scala/lucuma/graphql/routes/conversions.scala
  modules/sangria/src/main/scala-2/lucuma/graphql/routes/ErrorConverter.scala
  modules/sangria/src/main/scala-2/lucuma/graphql/routes/ErrorFormatter.scala
  modules/sangria/src/main/scala-2/lucuma/graphql/routes/SangriaGraphQLService.scala
Due: Label core PRs, Label grackle PRs, Label sangria PRs

bump base version
  build.sbt
Due: none

update grackle
  build.sbt
  modules/grackle/src/main/scala/lucuma/graphql/routes/GrackleGraphQLService.scala
Due: Label grackle PRs

lower level of ws logging
  modules/core/src/main/scala/lucuma/graphql/routes/Connection.scala
  modules/core/src/main/scala/lucuma/graphql/routes/Routes.scala
  modules/core/src/main/scala/lucuma/graphql/routes/Subscriptions.scala
Due: Label core PRs

info -> debug
  modules/core/src/main/scala/lucuma/graphql/routes/Connection.scala
Due: Label core PRs

Library updates
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

remove sangria
  build.sbt
  modules/sangria/src/main/scala-2/lucuma/graphql/routes/ErrorConverter.scala
  modules/sangria/src/main/scala-2/lucuma/graphql/routes/SangriaGraphQLService.scala
  modules/sangria/src/main/scala-2/sangria/streaming/fs2.scala
Due: Label sangria PRs

update grackle
  build.sbt
  modules/core/src/main/scala/lucuma/graphql/routes/Connection.scala
  modules/core/src/main/scala/lucuma/graphql/routes/GrackleGraphQLService.scala
  modules/core/src/main/scala/lucuma/graphql/routes/GraphQLService.scala
  modules/core/src/main/scala/lucuma/graphql/routes/Routes.scala
  modules/core/src/main/scala/lucuma/graphql/routes/conversions.scala
Due: Label core PRs

Update playground to use GraphiQL
  modules/core/src/main/scala/lucuma/graphql/routes/Playground.scala
Due: Label core PRs

update to grackle 0.14
  build.sbt
  modules/core/src/main/scala/lucuma/graphql/routes/Connection.scala
  modules/core/src/main/scala/lucuma/graphql/routes/GrackleGraphQLService.scala
  modules/core/src/main/scala/lucuma/graphql/routes/GraphQLService.scala
  modules/core/src/main/scala/lucuma/graphql/routes/Playground.scala
  modules/core/src/main/scala/lucuma/graphql/routes/Routes.scala
  modules/core/src/main/scala/lucuma/graphql/routes/Subscriptions.scala
  modules/core/src/main/scala/lucuma/graphql/routes/conversions.scala
  modules/core/src/main/scala/lucuma/graphql/routes/package.scala
  modules/core/src/main/scala/lucuma/graphql/routes/syntax/Json.scala
  modules/core/src/main/scala/lucuma/graphql/routes/syntax/LoggerOps.scala
  modules/core/src/main/scala/lucuma/graphql/routes/syntax/package.scala
Due: Label core PRs

update workflow
  .mergify.yml
Due: none

headers
  modules/core/src/main/scala/lucuma/graphql/routes/Connection.scala
  modules/core/src/main/scala/lucuma/graphql/routes/GrackleGraphQLService.scala
  modules/core/src/main/scala/lucuma/graphql/routes/GraphQLService.scala
  modules/core/src/main/scala/lucuma/graphql/routes/Playground.scala
  modules/core/src/main/scala/lucuma/graphql/routes/Routes.scala
  modules/core/src/main/scala/lucuma/graphql/routes/Subscriptions.scala
  modules/core/src/main/scala/lucuma/graphql/routes/conversions.scala
  modules/core/src/main/scala/lucuma/graphql/routes/package.scala
  modules/core/src/main/scala/lucuma/graphql/routes/syntax/Json.scala
  modules/core/src/main/scala/lucuma/graphql/routes/syntax/LoggerOps.scala
  modules/core/src/main/scala/lucuma/graphql/routes/syntax/package.scala
Due: Label core PRs

log warnings
  modules/core/src/main/scala/lucuma/graphql/routes/Connection.scala
  modules/core/src/main/scala/lucuma/graphql/routes/GrackleGraphQLService.scala
  modules/core/src/main/scala/lucuma/graphql/routes/GraphQLService.scala
  modules/core/src/main/scala/lucuma/graphql/routes/Routes.scala
Due: Label core PRs

simplifications
  modules/core/src/main/scala/lucuma/graphql/routes/Connection.scala
  modules/core/src/main/scala/lucuma/graphql/routes/GrackleGraphQLService.scala
  modules/core/src/main/scala/lucuma/graphql/routes/GraphQLService.scala
  modules/core/src/main/scala/lucuma/graphql/routes/Subscriptions.scala
Due: Label core PRs

remove unnecessary interface
  modules/core/src/main/scala/lucuma/graphql/routes/GrackleGraphQLService.scala
  modules/core/src/main/scala/lucuma/graphql/routes/GraphQLService.scala
Due: Label core PRs

remove effect in parse
  modules/core/src/main/scala/lucuma/graphql/routes/Connection.scala
  modules/core/src/main/scala/lucuma/graphql/routes/GrackleGraphQLService.scala
  modules/core/src/main/scala/lucuma/graphql/routes/Routes.scala
Due: Label core PRs

simplify
  build.sbt
  modules/core/src/main/scala/lucuma/graphql/routes/Connection.scala
  modules/core/src/main/scala/lucuma/graphql/routes/GrackleGraphQLService.scala
  modules/core/src/main/scala/lucuma/graphql/routes/Routes.scala
  modules/core/src/main/scala/lucuma/graphql/routes/Subscriptions.scala
  modules/core/src/main/scala/lucuma/graphql/routes/conversions.scala
  modules/core/src/main/scala/lucuma/graphql/routes/package.scala
  modules/core/src/main/scala/lucuma/graphql/routes/syntax/Json.scala
  modules/core/src/main/scala/lucuma/graphql/routes/syntax/LoggerOps.scala
  modules/core/src/main/scala/lucuma/graphql/routes/syntax/package.scala
Due: Label core PRs

simplify
  modules/core/src/main/scala/lucuma/graphql/routes/GraphQLService.scala
Due: Label core PRs

gh
  .github/workflows/ci.yml
  .mergify.yml
Due: none

initial tests
  build.sbt
  modules/core/src/main/scala/lucuma/graphql/routes/Routes.scala
  modules/core/src/test/resources/logback.xml
  modules/core/src/test/scala/lucuma/graphql/routes/AuthSuite.scala
  modules/core/src/test/scala/lucuma/graphql/routes/BaseSuite.scala
Due: Label core PRs

scalafix
  modules/core/src/test/scala/lucuma/graphql/routes/AuthSuite.scala
  modules/core/src/test/scala/lucuma/graphql/routes/BaseSuite.scala
Due: Label core PRs

variables
  modules/core/src/test/resources/logback.xml
  modules/core/src/test/scala/lucuma/graphql/routes/AuthSuite.scala
  modules/core/src/test/scala/lucuma/graphql/routes/BaseSuite.scala
  modules/core/src/test/scala/lucuma/graphql/routes/VariablesSuite.scala
Due: Label core PRs

scalafix
  modules/core/src/test/scala/lucuma/graphql/routes/VariablesSuite.scala
Due: Label core PRs

validation
  modules/core/src/test/scala/lucuma/graphql/routes/BaseSuite.scala
  modules/core/src/test/scala/lucuma/graphql/routes/ValidationSuite.scala
Due: Label core PRs

scalafix
  modules/core/src/test/scala/lucuma/graphql/routes/ValidationSuite.scala
Due: Label core PRs

speed up streaming test
  modules/core/src/test/scala/lucuma/graphql/routes/BaseSuite.scala
Due: Label core PRs

Path conditions:
  Label core PRs: any of: ^modules/core/
  Label grackle PRs: any of: ^modules/grackle/
  Label sangria PRs: any of: ^modules/sangria/
